body{
    background-color: black;
}
h1{
    margin-left: 300px;
    margin-bottom: 0px;
    padding: 0;
    color: white;
    font-size: 400px;
}
#sdf{
    display: flex;
    margin-left: 200px;
}
#clicker{
    background-color: white;
    color: black;
    padding: 20px 40px;
    margin-left: 20px;
    margin-bottom: 0px;
    border-radius: 20px;
    font-weight: 900;
    font-size: 40px;
}